header,
footer {
  display: none;
}
.contents {
  margin-top: 0;
  margin-bottom: 0;
}
.contents.index {
  max-width: 100%;
  height: 100vh;
  padding: 0;
  background-color: #f6b53f;
}
.main_page {
    max-width: 700px;
    height: auto;
    margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50%;
  transform : translateY(50%);
}
.main_page .m_page {
    text-align: center;
}
.page_1 {
    margin-bottom: 40px;
}
.page_1 img {
    margin-bottom: 20px;
}
.page_1 h2 {
    font-size: 60px;
    margin-bottom: 20px;
}
.page_1 h2 span {
    display: block;
    font-size: 36px;
}
.page_1 p {
    font-size: 20px;
}

.page_2 {
    display: flex;
    flex-direction: column;
}
.page_2 .mini_header {
    display: flex;
    flex-direction: row;
    height: 24px;
    line-height: 14px;
    border:1px solid #fff;
    padding: 5px;
    cursor: pointer;
}
.page_2 .mini_header .head_btn {
    margin-left: auto;
}
.page_2 .mini_header .head_btn ul {
    display: flex;
    flex-direction: row;
}
.page_2 .mini_header .head_btn ul li {
  margin-right: 5px;
}
.page_2 .mini_header .head_btn ul li:last-child {
  margin-right: 0;
}
.page_2 .mini_con {
    height: 225px;
    display: flex;
    flex-direction: row;
    text-align: left;
}
.page_2 .mini_con > div {
    border:1px solid #fff;
}
.page_2 .mini_con .mini_con_l {
    width: 35%;
    padding: 5px;
}
.page_2 .mini_con .mini_con_l .uplist {
    cursor: pointer;
    margin: 3px;
    height: 18px;
    line-height: 18px;
}
.page_2 .mini_con .mini_con_l .uplist:hover {
    background-color: #000;
    color: #f6b53f;
}
.page_2 .mini_con .mini_con_l .uplist img {
    width: 10px;
    height: 10px;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
.page_2 .mini_con .mini_con_l .uplist.mactive img{
    transform: rotate(90deg);
    transition: all 0.3s;
}
.page_2 .mini_con .mini_con_l .uplist.mactive {
  background-color: #000;
  color: #f6b53f;
}
.page_2 .mini_con .mini_con_l .downlist {
    display: none;
    cursor: pointer;
    margin: 3px;
    padding-left: 20px;
}
.page_2 .mini_con .mini_con_l .downlist:hover {
    color: #000;
}
.page_2 .mini_con .mini_con_l .downlist a {
    color: #fff;
}
.page_2 .mini_con .mini_con_l .downlist:hover a {
    color: #000;
}
.page_2 .mini_con .mini_con_r {
    width: 65%;
    padding: 5px;
}
.page_2 .mini_con .mini_con_r > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.page_2 .mini_con .mini_con_r > ul > li {
    display: none;
}
.page_2 .mini_con .mini_con_r > ul > li > ul {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.page_2 .mini_con .mini_con_r > ul > li > ul > li {
    width: 100px;
    margin-right: 5px;
    text-align: center;
    padding: 5px;
}
.page_2 .mini_con .mini_con_r > ul > li > ul > li:hover {
    border: 1px solid #fff;
}
.page_2 .mini_con .mini_con_r > ul > li > ul > li a {
    color: #fff;
}
.page_2 .mini_con .mini_con_r > ul > li > ul > li img {
    width: 40px;
    margin-bottom: 7px;
}
.page_2 .mini_footer {
    height: 20px;
    line-height: 10px;
    padding: 5px;
    border: 1px solid #fff;
    cursor: pointer;
}
/* mob */
@media screen and (max-width: 450px) {
  .main_page {
    padding-top: 20px;
    transform : translateY(0);
  }
  .page_1 {
    margin-bottom: 20px;
  }
  .page_1 img {
    margin-bottom: 20px;
  }
  .page_1 h2 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .page_1 h2 span {
    display: block;
    font-size: 24px;
  }
  .page_1 p {
    font-size: 16px;
  }
  .page_2 .mini_con {
    height: 235px;
  }
}

