@charset "utf-8";
/* CSS Document */

/* mobile */
@media screen and (max-width: 767px) {
  @keyframes view_a {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  header {
    display: none;
  }

  section.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../images/bg_green_line.png") no-repeat 35% center;
    background-size: cover;
  }
  section.intro > div.name_rol {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }
  section.intro > div.name_rol > h2 {
    margin-bottom: 20px;
    font-size: 8vw;
  }

  section.intro > div.a_arrow {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 80px;
    transform: translate(-50%, -50%);
    animation: view_a 4s;
  }
  section.intro > div.a_arrow > a > p {
    display: inline-block;
  }
  section.intro > div.a_arrow > a > p.a_txt {
    overflow: hidden;
    height: 16px;
  }
  section.intro > div.a_arrow > a > p.a_bg {
    width: 20px;
    height: 13px;
    margin-left: 10px;
    background: url("../images/ico_arrow.png") no-repeat top center;
  }
  section.intro > div.a_arrow > a > p > span {
    display: block;
    transform: translateY(0px);
    transition: all 400ms;
  }
  section.intro > div.a_arrow > a:hover > p > span {
    transform: translateY(-19px);
    transition: all 400ms;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  @keyframes view_a {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  header {
    display: none;
  }

  section.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../images/bg_green_line.png") no-repeat 20% center;
    background-size: cover;
  }
  section.intro > div.name_rol {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }
  section.intro > div.name_rol > h2 {
    margin-bottom: 40px;
    font-size: 6vw;
  }

  section.intro > div.a_arrow {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 80px;
    transform: translate(-50%, -50%);
    animation: view_a 4s;
  }
  section.intro > div.a_arrow > a > p {
    display: inline-block;
  }
  section.intro > div.a_arrow > a > p.a_txt {
    overflow: hidden;
    height: 16px;
  }
  section.intro > div.a_arrow > a > p.a_bg {
    width: 20px;
    height: 13px;
    margin-left: 10px;
    background: url("../images/ico_arrow.png") no-repeat top center;
  }
  section.intro > div.a_arrow > a > p > span {
    display: block;
    transform: translateY(0px);
    transition: all 400ms;
  }
  section.intro > div.a_arrow > a:hover > p > span {
    transform: translateY(-19px);
    transition: all 400ms;
  }
}

/* pc */

@media screen and (min-width: 1025px) {
  @keyframes view_a {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  header {
    display: none;
  }

  section.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../images/bg_green_line.png") no-repeat center center;
    background-size: cover;
  }

  section.intro > div.name_rol {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
  }
  section.intro > div.name_rol > h2 {
    margin-bottom: 50px;
    font-size: 5vw;
  }

  section.intro > div.a_arrow {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 150px;
    transform: translate(-50%, -50%);
    animation: view_a 4s;
  }
  section.intro > div.a_arrow > a > p {
    display: inline-block;
  }
  section.intro > div.a_arrow > a > p.a_txt {
    overflow: hidden;
    height: 16px;
  }
  section.intro > div.a_arrow > a > p.a_bg {
    width: 20px;
    height: 13px;
    margin-left: 10px;
    background: url("../images/arrow_icon.png") no-repeat top center;
  }
  section.intro > div.a_arrow > a > p > span {
    display: block;
    transform: translateY(0px);
    transition: all 400ms;
  }
  section.intro > div.a_arrow > a:hover > p > span {
    transform: translateY(-19px);
    transition: all 400ms;
  }
}
