@charset "utf-8";
/* CSS Document */

/* mobile */
@media screen and (max-width: 767px) {
  div.view {
    /*overflow: hidden;*/
    width: 100vw;
    height: 100vh;
    background: url("../images/bg_rise_info.jpg") no-repeat center center;
  }
  div.view > section {
    width: 100%;
    height: 100%;
  }

  /* film */

  div.view > section.film {
    width: 100%;
    height: 100%;
  }
  div.view > section.film > div.info {
    width: 100%;
    height: 100vh;
    margin-top: 80px;
  }
  div.view > section.film > div.info > div.inner_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/bg_film_visual.jpg") no-repeat 40% center;
    background-size: cover;
    text-align: center;
  }
  div.view > section.film > div.info > div.inner_wrap > img {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
  }
  div.view > section.film > div.info > div.inner_wrap > p.film_i {
    position: absolute;
    top: 40%;
    left: 0;
    font-size: 0.875em;
    color: #fff;
  }
  div.view > section.film > div.info > div.intro_b {
    display: none;
    position: relative;
    width: 100%;
    height: 213px;
    margin: 0 auto;
  }
  div.view > section.film > div.info > div.intro_b > img.intro_i {
    position: absolute;
    top: 63%;
    left: 10%;
    width: 168px;
    transform: translate(-50%, -50%);
  }
  div.view > section.film > div.info > div.intro_b > p.intro_p {
    position: absolute;
    top: 70%;
    left: 60%;
    width: 542px;
    padding: 30px;
    font-size: 0.875em;
    transform: translate(-50%, -50%);
  }

  /* trailer */

  div.view > section.trailer {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 800px;
  }
  div.view > section.trailer > div.info {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 100%;
    height: 75%;
    transform: translate(-50%, -50%);
  }
  div.view > section.trailer > div.info > h2 {
    margin: 80px 0 30px 0;
  }
  div.view > section.trailer > div.info > div.inner_wrap {
    width: 100%;
    height: auto;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul {
    width: 100%;
    height: auto;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li {
    position: relative;
    width: 100%;
    height: auto;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li > button {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 2;
    width: 48px;
    height: 48px;
    background: url("../images/btn_play.png") no-repeat center center;
    text-indent: -99999em;
    transform: translate(-50%, -50%);
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li > iframe {
    width: 100%;
    height: 174px;
    margin-bottom: 10px;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li > p {
    text-align: center;
    margin-bottom: 40px;
  }

  /* character */

  div.view > section.character {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 800px;
  }
  div.view > section.character > div.info {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 50%;
    transform: translate(-50%, -50%);
  }
  div.view > section.character > div.info > h2 {
    margin-bottom: 80px;
  }
  div.view > section.character > div.info > div.inner_wrap {
    overflow: hidden;
    width: 100%;
  }
  div.view > section.character > div.info > div.inner_wrap > div.ul_wrap {
    width: 3840px;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char {
    float: left;
    width: 100%;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char
    > div.card {
    width: 50%;
    margin: 0 auto;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char
    > div.card
    > img {
    width: 100%;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char
    > div.intro {
    width: 50%;
    height: auto;
    margin-left: 30px;
    margin: 0 auto;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char
    > div.intro
    > p.title {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  div.view > section.character > div.info > div.inner_wrap > button {
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 50;
    width: 16px;
    height: 100%;
  }
  div.view > section.character > div.info > div.inner_wrap > button.prev {
    left: 5%;
    background: url("../images/btn_prev.png") no-repeat center 55%;
    text-indent: -99999em;
  }
  div.view > section.character > div.info > div.inner_wrap > button.next {
    right: 5%;
    background: url("../images/btn_next.png") no-repeat center 55%;
    text-indent: 99999em;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  div.view {
    /*overflow: hidden;*/
    width: 100vw;
    height: 100vh;
    background: url("../images/bg_rise_info.jpg") no-repeat center center;
  }
  div.view > section {
    width: 100%;
    height: 100%;
  }

  /* film */

  div.view > section.film {
    width: 100%;
    height: 100%;
  }
  div.view > section.film > div.info {
    width: 100%;
    height: 100vh;
    margin-top: 90px;
  }
  div.view > section.film > div.info > div.inner_wrap {
    position: relative;
    width: 100%;
    height: 56.0298%;
    background: url("../images/bg_film_visual.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
  }
  div.view > section.film > div.info > div.inner_wrap > img {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 420px;
    height: 167px;
  }
  div.view > section.film > div.info > div.inner_wrap > p.film_i {
    position: absolute;
    top: 53%;
    left: 5%;
    font-size: 0.875em;
    color: #fff;
  }
  div.view > section.film > div.info > div.intro_b {
    position: relative;
    width: 100%;
    height: 213px;
    margin: 0 auto;
  }
  div.view > section.film > div.info > div.intro_b > img.intro_i {
    position: absolute;
    top: 63%;
    left: 10%;
    width: 168px;
    transform: translate(-50%, -50%);
  }
  div.view > section.film > div.info > div.intro_b > p.intro_p {
    position: absolute;
    top: 70%;
    left: 60%;
    width: 542px;
    padding: 30px;
    font-size: 0.875em;
    transform: translate(-50%, -50%);
  }

  /* trailer */

  div.view > section.trailer {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 800px;
  }
  div.view > section.trailer > div.info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 75%;
    transform: translate(-50%, -50%);
  }
  div.view > section.trailer > div.info > h2 {
    margin: 80px 0 30px 0;
  }
  div.view > section.trailer > div.info > div.inner_wrap {
    width: 100%;
    height: auto;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul {
    width: 100%;
    height: auto;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li {
    position: relative;
    float: left;
    width: 50%;
    height: auto;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: auto;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li > button {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 2;
    width: 48px;
    height: 48px;
    background: url("../images/btn_play.png") no-repeat center center;
    text-indent: -99999em;
    transform: translate(-50%, -50%);
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li > iframe {
    width: 100%;
    height: 209px;
    margin-bottom: 10px;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li > p {
    text-align: center;
    margin-bottom: 40px;
  }

  /* character */

  div.view > section.character {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 800px;
  }
  div.view > section.character > div.info {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 50%;
    transform: translate(-50%, -50%);
  }
  div.view > section.character > div.info > h2 {
    margin-bottom: 80px;
  }
  div.view > section.character > div.info > div.inner_wrap {
    overflow: hidden;
    width: 100%;
  }
  div.view > section.character > div.info > div.inner_wrap > div.ul_wrap {
    width: 3840px;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char {
    float: left;
    width: 100%;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char
    > div.card {
    width: 50%;
    margin: 0 auto;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char
    > div.card
    > img {
    width: 100%;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char
    > div.intro {
    width: 50%;
    height: auto;
    margin-left: 30px;
    margin: 0 auto;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char
    > div.intro
    > p.title {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  div.view > section.character > div.info > div.inner_wrap > button {
    overflow: hidden;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 50;
    width: 16px;
    height: 100%;
  }
  div.view > section.character > div.info > div.inner_wrap > button.prev {
    left: 5%;
    background: url("../images/btn_prev.png") no-repeat center 55%;
    text-indent: -99999em;
  }
  div.view > section.character > div.info > div.inner_wrap > button.next {
    right: 5%;
    background: url("../images/btn_next.png") no-repeat center 55%;
    text-indent: 99999em;
  }
}

/* pc */
@media screen and (min-width: 1025px) {
  div.view {
    /*overflow: hidden;*/
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("../images/bg_rise_info.jpg") no-repeat center center;
  }
  div.view > section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  div.view > section.cur {
    z-index: 10;
  }
  div.view > section.next {
    z-index: 5;
    transform: translateX(100%);
  }
  div.view > section.prev {
    z-index: 5;
    transform: translateX(200%);
  }

  /* film */

  div.view > section.film {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 800px;
  }
  div.view > section.film > div.info {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }
  div.view > section.film > div.info > div.inner_wrap {
    position: relative;
    width: 100%;
    height: 56.0298%;
    background: url("../images/bg_film_visual.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
  }
  div.view > section.film > div.info > div.inner_wrap > img {
    position: absolute;
    top: 10%;
    left: 7%;
    width: 450px;
    height: 198px;
  }
  div.view > section.film > div.info > div.inner_wrap > p.film_i {
    position: absolute;
    top: 55%;
    left: 7%;
    color: #fff;
  }
  div.view > section.film > div.info > div.intro_b {
    position: relative;
    width: 1180px;
    height: 213px;
    margin: 0 auto;
  }
  div.view > section.film > div.info > div.intro_b > img.intro_i {
    position: absolute;
    top: 63%;
    width: 168px;
    transform: translate(-50%, -50%);
  }
  div.view > section.film > div.info > div.intro_b > p.intro_p {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 542px;
    transform: translate(-50%, -50%);
  }

  /* trailer */

  div.view > section.trailer {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 800px;
  }
  div.view > section.trailer > div.info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 937px;
    margin-top: 100px;
    transform: translate(-50%, -50%);
  }
  div.view > section.trailer > div.info > h2 {
    margin: 30px 0;
  }
  div.view > section.trailer > div.info > div.inner_wrap {
    width: 100%;
    height: auto;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul {
    width: 100%;
    height: auto;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li {
    position: relative;
    float: left;
    width: 46.6101%;
    height: auto;
    margin-right: 6.7796%;
  }
  div.view
    > section.trailer
    > div.info
    > div.inner_wrap
    > ul
    > li:nth-child(2n) {
    margin-right: 0;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li > button {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 2;
    width: 48px;
    height: 48px;
    background: url("../images/btn_play.png") no-repeat center center;
    text-indent: -99999em;
    transform: translate(-50%, -50%);
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li > iframe {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  div.view > section.trailer > div.info > div.inner_wrap > ul > li > p {
    margin-bottom: 20px;
  }
  /*div.view > section.trailer > div.info > div.inner_wrap { width: 100%; margin-bottom: 30px; text-align: center; }
	div.view > section.trailer > div.info > div.inner_wrap > div.video { width: 1180px; height: 450px; }
	div.view > section.trailer > div.info > div.inner_wrap > div.video > iframe { width: 100%; height: 450px; }
	div.view > section.trailer > div.info > div.trail_li { width: 100%; max-width: 1020px; margin: 0 auto; }
	div.view > section.trailer > div.info > div.trail_li > ul { width: 100%; }
	div.view > section.trailer > div.info > div.trail_li > ul > li { float: left; width: 330px; height: 215px; margin-right: 15px; }
	div.view > section.trailer > div.info > div.trail_li > ul > li:last-child { margin-right: 0; }
	div.view > section.trailer > div.info > div.trail_li > ul > li > img { width: 100%; }
	div.view > section.trailer > div.info > div.trail_li > ul > li > p { margin-top: 10px; }*/

  /* character */

  div.view > section.character {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 800px;
  }
  div.view > section.character > div.info {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
  }
  div.view > section.character > div.info > h2 {
    margin-bottom: 80px;
  }
  div.view > section.character > div.info > div.inner_wrap {
    overflow: hidden;
  }
  div.view > section.character > div.info > div.inner_wrap > div.ul_wrap {
    width: 5900px;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char {
    float: left;
    width: 1180px;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char
    > div.card {
    float: left;
    width: 400px;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char
    > div.intro {
    float: left;
    width: 740px;
    height: 400px;
    margin-left: 40px;
    padding-top: 90px;
  }
  div.view
    > section.character
    > div.info
    > div.inner_wrap
    > div.ul_wrap
    > div.char
    > div.intro
    > p.title {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  div.view > section.character > div.info > div.inner_wrap > button {
    overflow: hidden;
    display: block;
    position: absolute;
    top: 0;
    z-index: 50;
    width: 16px;
    height: 100%;
  }
  div.view > section.character > div.info > div.inner_wrap > button.prev {
    left: 5%;
    background: url("../images/btn_prev.png") no-repeat center 55%;
    text-indent: -99999em;
  }
  div.view > section.character > div.info > div.inner_wrap > button.next {
    right: 5%;
    background: url("../images/btn_next.png") no-repeat center 55%;
    text-indent: 99999em;
  }
}
