@charset "utf-8";
/* CSS Document */

/* gothic-a1-regular - korean_latin */
@font-face {
  font-family: 'GothicA1-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../font/gothic-a1-v8-korean_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Gothic A1 Regular'), local('GothicA1-Regular'),
       url('../font/gothic-a1-v8-korean_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/gothic-a1-v8-korean_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/gothic-a1-v8-korean_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/gothic-a1-v8-korean_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/gothic-a1-v8-korean_latin-regular.svg#GothicA1') format('svg'); /* Legacy iOS */
}
/* gothic-a1-600 - korean_latin */
@font-face {
  font-family: 'GothicA1-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('../font/gothic-a1-v8-korean_latin-600.eot'); /* IE9 Compat Modes */
  src: local('Gothic A1 SemiBold'), local('GothicA1-SemiBold'),
       url('../font/gothic-a1-v8-korean_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/gothic-a1-v8-korean_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/gothic-a1-v8-korean_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../font/gothic-a1-v8-korean_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/gothic-a1-v8-korean_latin-600.svg#GothicA1') format('svg'); /* Legacy iOS */
}
/* gothic-a1-900 - korean_latin */
@font-face {
  font-family: 'GothicA1-Black';
  font-style: normal;
  font-weight: 900;
  src: url('../font/gothic-a1-v8-korean_latin-900.eot'); /* IE9 Compat Modes */
  src: local('Gothic A1 Black'), local('GothicA1-Black'),
       url('../font/gothic-a1-v8-korean_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/gothic-a1-v8-korean_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/gothic-a1-v8-korean_latin-900.woff') format('woff'), /* Modern Browsers */
       url('../font/gothic-a1-v8-korean_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/gothic-a1-v8-korean_latin-900.svg#GothicA1') format('svg'); /* Legacy iOS */
}
*, *::before , *::after { margin: 0; padding: 0; box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, enter, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

html, body { width: 100%; height: 100%; font-family: "GothicA1-Regular"; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ul, li { list-style: none; }

a { text-decoration: none; color: #000; }

img { vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

::placeholder { color: #3f51b5; opacity: 1; /* Firefox */ }
::-moz-input-pleaceholder, ::-moz-textarea { color: #3f51b5; }
::-webkit-input-pleaceholder, ::-webkit-textarea { color: #3f51b5; }
:-ms-input-pleaceholder, :-ms-textarea { color: #3f51b5; }
::-ms-input-pleaceholder, ::-ms-textarea { color: #3f51b5; }
::-o-input-pleaceholder, ::-o-textarea { color: #3f51b5; }
input[type="submit"] { -webkit-appearance: none; -webkit-border-radius: ; }

button { border: none; font-family: inherit; background: transparent; cursor: pointer; }
button:active { outline: none; }
button:focus { outline: none; }

.clearfix::after { content: ""; display: block; clear: both; }
