/* header */
header {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    color: #fff;
    text-align: center;
    z-index: 31;
    display: flex;
    justify-content: space-between;
}
/* footer */
footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    position: fixed;
    bottom: 0;
    color: #fff;
    text-align: center;
    z-index: 31;
}

/* contents */
.contents {
    width: 100%;
    height: calc(100vh);
    margin: 0 auto;
    color: #fff;
}
.contents .item_bg {
    width: 100%;
    height: calc(100vh);
    background-color: #000;
    position: relative;
    transition: 1s;
}
.contents .item_bg .item_wrap {
    width: calc(100% - 300px);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
.contents .item_bg .btn {
    position: absolute;
    top: 50%;
}
.contents .item_bg .btn.prev {
    left: 20px;
}
.contents .item_bg .btn.next {
    right: 20px;
}
.contents .item_bg .item_wrap .item_list {
    width: 600%;
    min-height: 300px;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}
.contents .item_bg .item_wrap .item_list > li {
    width: calc(100% / 6);
    padding: 50px;
    position: relative;
}
.contents .item_wrap .item_list .item_box {
}
.contents .item_wrap .item_list a {
    color: #fff;
}
.contents .item_wrap .item_list .item_box .item_box_tit {
    font-size: 15px;
    font-weight: 400;
}
.contents .item_wrap .item_list .item_box .item_box_desc {
    font-size: 30px;
    font-weight: 600;
}
.contents .item_wrap .item_list .item_box .tit_underline {
    position: relative;
    left: -48px;
    width: 400px;
    height: 4px;
    display: block;
    background-color: #fff;
    border-radius: 3px;
    margin: 20px 0 30px 0;
}
.contents .item_wrap .item_list .box_line {
    width: 95%;
    height: 90%;
    border: 5px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.3s;
}
.contents .item_wrap .item_list a:hover .box_line {
    opacity: 1;
}
.contents .item_bg .item_wrap .indicator {
    margin-top: 50px;
}
.contents .item_bg .item_wrap .indicator_bar {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 3px;
    overflow: hidden;
}
.contents .item_bg .item_wrap .indicator_bar > button {
    width: calc(100% / 6);
    height: 4px;
    background-color: #fff;
    opacity: 0.5;
    transition: 0.3s;
}
.contents .item_bg .item_wrap .indicator_bar > button.on {
    opacity: 1;
}