.wrap{
	width: 100%;
}
section{
	width: 1320px;
	margin: 0 auto;
}
header{
	width: 100%;
	height: 70px;
	background-color: #333;
	line-height: 70px;
}
header h1{
	float: left;
}
header h1 img, footer h1 img {
	width: 180px;
}
header ul{
	float: right;
}
header ul li{
	float: left;
	margin-left: 5rem;
	font-size: 1.5em;
}
header ul li a{
	color: #fff;
}
header .hamburger{
	float: right;
}

.clc_menu{
	width: 100%;
	background-color: #222;
	position: absolute;
	top: 70px;
	z-index: 999;
	display: none;
}
.clc_menu ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	padding-bottom: 2rem;
}
.clc_menu ul li{
	background-color: #fff;
	width: 23%;
	height: 78px;
	margin-top: 1.9rem;
	background-size: cover;
	background-repeat: no-repeat;
}
.clc_menu ul li a{
	font-size: 2.5em;
	height: 78px;
	line-height: 78px;
	padding-left: 3rem;
	color: #fff;
	display: block;
}
.clc_menu ul li:first-child{
	background-image: url(../images/layer_gshock.jpg);
}
.clc_menu ul li:nth-child(2){
	background-image: url(../images/layer_babyg.jpg);
}
.clc_menu ul li:nth-child(3){
	background-image: url(../images/layer_protrek.jpg);
}
.clc_menu ul li:nth-child(4){
	background-image: url(../images/layer_edifice.jpg);
}
.clc_menu ul li:nth-child(5){
	background-image: url(../images/layer_sheen.jpg);
}
.clc_menu ul li:nth-child(6){
	background-image: url(../images/layer_oceanus.jpg);
}
.clc_menu ul li:nth-child(7){
	background-image: url(../images/layer_casio.jpg);
}
.clc_menu ul li:last-child{
	background-image: url(../images/layer_special.jpg);
}

.clc_menu_mob{
	max-width: 500px;
	width: 100%;
	position: absolute;
	top: 70px;
	right: 0;
	z-index: 999;
	background-color: #fff;
	display: none;
}
.clc_menu_mob ul{
	display: flex;
	flex-direction: column;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.clc_menu_mob ul li{
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.clc_menu_mob ul li a{
	font-size: 2em;
	height: 5rem;
	line-height: 5rem;
	color: #fff;
	display: block;
	padding-left: 5rem;
}
.clc_menu_mob ul li:first-child{
	background-image: url(../images/layer_gshock.jpg);
}
.clc_menu_mob ul li:nth-child(2){
	background-image: url(../images/layer_babyg.jpg);
}
.clc_menu_mob ul li:nth-child(3){
	background-image: url(../images/layer_protrek.jpg);
}
.clc_menu_mob ul li:nth-child(4){
	background-image: url(../images/layer_edifice.jpg);
}
.clc_menu_mob ul li:nth-child(5){
	background-image: url(../images/layer_sheen.jpg);
}
.clc_menu_mob ul li:nth-child(6){
	background-image: url(../images/layer_oceanus.jpg);
}
.clc_menu_mob ul li:nth-child(7){
	background-image: url(../images/layer_casio.jpg);
}
.clc_menu_mob ul li:last-child{
	background-image: url(../images/layer_special.jpg);
}
/*         */
.main_visual{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.mv_l{
	background-image: url(../images/vis_1.jpg);
	background-repeat: no-repeat;
	width: 50%;
	height: 856px;
}

.mv_r{
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 856px;
}
.mv_r_u{
	background-image: url(../images/vis_2.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 495px;
}
.mv_r_d{
	background-image: url(../images/vis_3.jpg);
	background-repeat: no-repeat;
	width: 100%;
	height: 361px;
}

/*             */
.news{
	width: 100%;
}
.news h2{
	font-size: 3em;
	text-align: center;
	margin: 3rem 0;
}
.news_con{
	display: flex;
	justify-content: space-between;
}
.nc_l img{
	width: 100%;
}
.nc_r{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.nc_r_u img{
	width: 100%;
}
.nc_r_d ul{
	display: flex;
	justify-content: space-between;
}
.nc_r_d ul li{
	width: 45%;
}
.nc_r_d ul li img{
	width: 100%;
}

/*            */
.social{
	width: 100%;
	margin-bottom: 3rem;
}
.social h2{
	font-size: 3em;
	text-align: center;
	margin: 3rem 0;
}
.social_con ul{
	display: flex;
	justify-content: space-between;
}
.social_con ul li{
	width: 22%;
}
.social_con ul li img{
	width: 100%;
}

/*           */
footer{
	width: 100%;
	background-color: #333;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}
footer section{
	text-align: center;
}
footer p{
	margin-top: 1rem;
	color: #fff;
}

/*            */
@media screen and (min-width: 1401px){
	header .hamburger{
		display: none;
	}
}

@media screen and (min-width: 681px) and (max-width: 1400px){
	section{
		width: 96%;
	}
	header ul li{
		margin-left: 1.5rem;
		font-size: 1.5em;
	}
	header .hamburger{
		display: none;
	}
	.clc_menu ul li{
	height: 0;
	padding-bottom:5.93%;
}
	.clc_menu ul li a{
		font-size: 1.8em;
		height:100%;
		line-height:0;
		padding-top:12%;
		padding-left:2rem;
		display: block;
	}
}

@media screen and (max-width: 680px){
	section{
		width: 96%;
	}
	header ul{
		display: none;
	}
	.main_visual{
		flex-direction: column;
	}
	.mv_l{
		width: 100%;
		background-size: cover;
		height:0;
		padding-bottom:88%;
	}
	.mv_r{
		width: 100%;
		height: 100%;
	}
	.mv_r_u{
		background-size: cover;
		height:0;
		padding-bottom:50%;
	}
	.mv_r_d{
		background-size: cover;
		height:0;
		padding-bottom:50%;
	}

	.news_con{
		flex-direction: column;
	}
	.nc_l{
		margin-bottom: 1rem;
	}
	.nc_r_u{
		margin-bottom: 1rem;
	}
}
@media screen and (max-width: 500px){
	.clc_menu_mob ul{
		border-left: none;
	}
}
@media screen and (max-width: 450px){
	.clc_menu_mob ul li a{
		font-size: 2em;
		height: 4rem;
		line-height: 4rem;
		padding-left: 3rem;
	}
}