
/*             */
.clc_list{
	margin-bottom: 3rem;
}
.clc_list h2{
	font-size: 3em;
	text-align: center;
	margin: 3rem 0 1rem 0;
}

.clc_sort{
	width: 50%;
	height: 2rem;
	line-height: 2rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-bottom: 1rem;
}
.clc_sort a{
	color: #333;
}
.clc_sort a:hover{
	color: #999;
}
.clc_sort li.on{
	border-bottom: 2px solid #999;
}
.clc_sort li.on a{
	color: #999;
}

.clc_pick{
	background-color: #333;
	height: 2rem;
	line-height: 2rem;
}
.clc_pick a{
	color: #fff;
}
.clc_pick a:hover{
	color: #9e9e9e;
}
.clc_pick ul{
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-bottom: 1rem;
}

.clc_page{
	width: 5%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	margin-top: 3rem;
	margin-bottom: 1rem;
}
.clc_page a{
	color: #333;
}

.clc_view_list{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 2rem 0;
}
.clc_view_list a{
	color: #333;
}
.clc_view_list li{
	width: 25%;
}
.clc_view_list dl{
	padding: 2rem;
}
.clc_view_list dl:hover{
	background-color: #eee;
}
.clc_view_list dl img{
	width: 100%;
}
.clc_view_list dt{
	margin-bottom: 2rem;
}
.clc_view_list dd{
	height: 3rem;
	font-size: 1.5em;
	text-align: center;
}

@media screen and (max-width: 1010px ) {
	.clc_view_list li{
		width: 33.33%;
	}
	.clc_sort {
		width: 80%;
	}
	.clc_pick ul {
		width: 80%;
	}
	.clc_view_list dd{
		font-size: 1.2em;
	}
	
}
@media screen and (max-width: 697px ) {
	.clc_view_list li{
		width: 50%;
	}
	.clc_sort {
		width: 95%;
	}
	.clc_pick ul {
		width: 95%;
	}
	.clc_view_list dd{
		font-size: 1em;
	}
}